# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv/
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Compiled source files
*.o
*.out
*.exe

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Tool-specific cache files
.mypy_cache/
.pytest_cache/

# Model and dataset files
*.ckpt
*.pt
*.h5
*.npz

# IDE / editor files
.idea/
.vscode/

# Ignore cloned repos and large model dirs
third_party/
integrations/dps/diffusion-posterior-sampling/
integrations/dps/results/

integrations/blinddps/blind-dps/
integrations/blinddps/results/

integrations/daps/DAPS/
integrations/daps/results/

data/additional_images
data/gpt_texts
data/gpt_texts_old
data/images
